@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Rubik:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
   
}
a {
    
    text-decoration: none;
    color: black;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(231,231,231,255);
}

.chatApp-container {
    width: 350px;
    background-color: white ;
    padding: 1.5%;
    display: flex;
    flex-direction: column;
    min-height: 650px;
    max-height: 650px;
    overflow-y: scroll;

    border-radius: 20px;
    box-shadow:  20px 20px 60px #a1a1a1,
             -20px -20px 60px #ffffff;

}

::-webkit-scrollbar {
    display: none;
}



.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-container {
    width: 50%;
    position: relative;
}

input[type=file] {
    display: none;
}
#preview {
    border-radius: 50%;
    background: url('') center center no-repeat;
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 50%;

    box-shadow:  10px 10px 20px #b1b1b1,
    -10px -10px 20px #ffffff;
}

#changeImgLabel {
    position: absolute;
    right: 0.7rem;
    bottom: 0.3rem;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background: #e0e0e0;
    box-shadow:  5px 5px 10px #5a5a5a,
             -1px -1px 10px #ffffff;    
}